body{
  margin: 0px;
}
.maincard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  height: 100vh;
  padding: 0px;
}

img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
  margin-top: 10px;  
  
}
.shoes {
  background-color: transparent;
  border-radius: 10px;
  width: 150px;
  padding: 20px;
  margin-left: 30px;
  
}
button{
  background-color: brown;
  color: white;
  border-radius: 20px;
}
button:hover {
  background-color: darkred;
  cursor: pointer;
}
.shoes:hover{
  border: 3px solid rgb(31, 30, 30);
  background-color: blueviolet;
  color: white;
}
.card{
  justify-content: center;
  align-items: center;
  display: flex;
}
